extends ../layout

block content
    h1 Hi, #{name}
    p Please confirm activation of your account.
    p
    a.button.reset-button(href=link) Confirm account
    p If you did not signup, please ignore this email.
